button {
	background-color: black;
	color: #fff;
	border: none;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.player-hand img,
.dealer-hand img {
	width: 120px;
	height: auto;
	margin: 5px;
}

.dealer {
	position: relative;
}

.dealer-character {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100px;
	height: auto;
}

body {
	background-image: url("/blackjack/images/blackjack_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	overflow: hidden;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 13%;
	align-items: center;
	height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333333;
	color: white;
	padding: 10px;
	height: 70px;
	flex-wrap: nowrap;
}

.header h1 {
	margin: 0;
	font-size: 2rem;
}

.header-link-left {
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: XX-large;
	margin-right: auto;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
}

.header-link-right {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding: 10px;
	font-size: XX-large;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
	margin-left: auto;
}

.header-link-right-menu {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding: 10px;
	font-size: XX-large;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
	margin-left: 10px;
}

.header-link-right:hover {
	border-radius: 30px;
	background-color: lightslategrey;
}


.container {
	max-width: 90%;
	padding: 20px;
	margin-top: -250px;
}

.large-white-text {
	font-size: 0.5rem;
	color: #ffffff;
	text-shadow: 2px 2px 4px black;
	font-weight: bold;
}

.large-white-text-replay {
	font-size: 0.5rem;
	color: #ffffff;
	text-shadow: 2px 2px 4px black;
	border-bottom: 1px solid white;
	text-decoration: none;
	font-weight: bold;
}

.large-white-text-replay:hover {
	border-radius: 30px;
	background-color: lightslategrey;
}

.game-button {
	padding: 10px 20px;
	background-color: lightslategrey;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
	font-size: 0.5rem;
}

.game-button:hover {
	background-color: #333333;
}

.footer {
	background-color: #333333;
	color: #fff;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.copyright {
	text-align: right;
	margin-right: 3%;
}