@charset "UTF-8";body {
	background-image: url("/blackjack/images/blackjack_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	overflow: hidden;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 13%;
	align-items: center;
	height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333333;
	color: white;
	padding: 10px;
	height: 70px;
	flex-wrap: nowrap;
}

.header h1 {
	margin: 0;
	font-size: 2rem;
}

.game-title {
	color: white;
	font-size: 4rem;
	text-shadow: 2px 2px 4px black;
}


.header-link-left {
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: XX-large;
	margin-right: auto;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
}

.header-link-right {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding: 10px;
	font-size: XX-large;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
	margin-left: auto;
}

.header-link-right-menu {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding: 10px;
	font-size: XX-large;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
	margin-left: 10px;
}

.header-link-right:hover {
	border-radius: 30px;
	background-color: lightslategrey;
}


.container {
	max-width: 90%;
	padding: 20px;
}


.container-adjustment {
	max-width: 90%;
	padding: 20px;
	margin-top: -140px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu-link {
	font-size: XX-large;
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px;
	border-bottom: 1px solid white;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 4px black;
}

.menu-link:hover {
	border-radius: 30px;
	background-color: lightslategrey;
}

.message {
	font-size: XX-large;
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #333333;
	font-weight: bold;
	text-shadow: 2px 2px 4px white;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input[type="text"],
input[type="password"] {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 2.5rem;
	height: auto;
}

input[type="submit"] {
	padding: 10px 20px;
	background-color: lightslategrey;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
	font-size: 2rem;
}

input[type="submit"]:hover {
	background-color: #333333;
}

.label-text {
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 2.5rem;
	font-weight: bold;
}

.password-input {
	width: 495px;
}

.footer {
	background-color: #333333;
	color: #fff;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.copyright {
	text-align: right;
	margin-right: 3%;
}

.nickname-input {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 2.5rem;
	height: auto;
	width: 455px;
}

.styled-text {
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 2.5rem;
	font-weight: bold;
}

.styled-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

.styled-table thead,
.styled-table th,
.styled-table td {
	border: 2px solid white;
	padding: 20px;
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 2rem;
	font-weight: bold;
}

.styled-table {
	width: 100%;
	border-collapse: collapse;
}

.scrollable-container {
	height: 600px;
	overflow-y: auto;
}

input::placeholder {
	color: lightgrey;
	font-size: 20px;
}
